@CHARSET "UTF-8";

.layout{
	float:left; 
	padding:5px;
}

.layout a{
	color:#ffffff;
}

.selectedLayout{
	background-color: Black;
}

.cursorMove{
	cursor:move;
}

.win{
	overflow: hidden; 
}

.tool{
	float: right;
	cursor: pointer;
	margin: 1 0 1 0;
}

.pl_stop, .pl_start{
	cursor: pointer;
	float: left;
	margin-right: 15px;
}

.pl_plus, .pl_minus, .original_size, .normal_size{
	cursor: pointer;
	float: left;
}