@CHARSET "UTF-8";

.layout{
	float:left; 
	padding:5px;
}



.cursorMove{
	cursor:move;
}

.win{
	overflow: hidden; 
}

.tool{
	float: right;
	cursor: pointer;
	margin: 1 0 1 0;
}

.pl_stop, .pl_start{
	cursor: pointer;
	float: left;
	margin-right: 15px;
}

.pl_plus, .pl_minus, .original_size, .normal_size{
	cursor: pointer;
	float: left;
}

.cell_header {
	background: #303030;
	
}

.win {
	border-color: #353535;
}

.toolbar_style table { 
	background: #fff;
	background: -moz-linear-gradient(top, #555 0%, #171717 50%, #333 100%);
    background: -webkit-linear-gradient(top, #333 0%, #070707 50%, #333 100%);
    background: -o-linear-gradient(top, #333 0%, #070707 50%, #333 100%); 
    background: -ms-linear-gradient(top, #333 0%, #070707 50%, #333 100%); 
    background: linear-gradient(top, #333 0%, #070707 50%, #333 100%); 
    background-position: center;
    background-size: cover;
}

#canvas {
	background : #555;
	background: -moz-linear-gradient(top, #555 0%, #999 50%, #555 100%);
    background: -webkit-linear-gradient(top, #555 0%, #999 50%, #555 100%);
    background: -o-linear-gradient(top, #555 0%, #999 50%, #555 100%); 
    background: -ms-linear-gradient(top, #555 0%, #999 50%, #555 100%); 
    background: linear-gradient(top, #555 0%, #999 50%, #555 100%);    
}

div.cell_header span a:hover {
	text-decoration: none;
	color: #0f7eff !important;
}
Одобрен
#toolbar {
	border-bottom: 2px solid #ababab;
}

.layout:hover,.selectedLayout {
	background: -moz-linear-gradient(top, #777 0%, #aaa 50%, #777 100%);
    background: -webkit-linear-gradient(top, #555 0%, #999 50%, #555 100%);
    background: -o-linear-gradient(top, #555 0%, #999 50%, #555 100%); 
    background: -ms-linear-gradient(top, #555 0%, #999 50%, #555 100%); 
    background: linear-gradient(top, #555 0%, #999 50%, #555 100%);    	
}

.layout:hover > a, .selectedLayout > a {
	color: #333;
}

/*

#nav{
	font-weight:bold;
	position: absolute;
	left: 0;
	top: 0px;
	height: 25px;
	z-index: 100;
}
#nav div{
	margin-right:10px;
	position:relative;
}

#nav_cap > a {
	height:25px;
	padding: 0;
	margin: 0;
	text-align: center;
}

#nav div a{
	display:block;
	padding:5px 15px;;
	color:#fff;
	background:none;
	text-decoration:none;
	text-shadow:1px 1px 1px rgba(0,0,0,0.75); 
	-moz-border-radius:5px;
	-webkit-border-radius:5px;

    border-radius: 5px;
}
#nav div a:hover{
	color:#fff;
	background:#6b0c36;
	background:rgba(107,12,54,0.75);
	text-decoration:underline;
	
}

#nav_cap:hover {
	-moz-box-shadow: 0 0 5px rgba(0,0,0,0.8);
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.8);
    box-shadow: 0 0 5px rgba(0,0,0,0.8);
}

#nav span{
	list-style:none;
	position:absolute;
	left:-9999px;
	opacity:0;
	-webkit-transition:0.25s linear opacity; 
}
#nav span div{
	padding-top:1px;

	border: 1px outset #ccc;
	background: -moz-linear-gradient(top, #121212 0%, #555 50%, #121212 100%);
    background: -webkit-linear-gradient(top, #121212 0%, #555 50%, #121212 100%);
    background: -o-linear-gradient(top, #121212 0%, #555 50%, #121212 100%); 
    background: -ms-linear-gradient(top, #121212 0%, #555 50%, #121212 100%); 
    background: linear-gradient(top, #121212 0%, #555 50%, #121212 100%); 
    border-radius: 5px;
}

#nav div:hover span{ 
	left:0; 
	opacity:1;
}
#nav div:hover a{ 
	background:#6b0c36;
	color: #FFF;
	background: -moz-linear-gradient(top, #121212 0%, #555 50%, #121212 100%);
    background: -webkit-linear-gradient(top, #121212 0%, #555 50%, #121212 100%);
    background: -o-linear-gradient(top, #121212 0%, #555 50%, #121212 100%); 
    background: -ms-linear-gradient(top, #121212 0%, #555 50%, #121212 100%); 
    background: linear-gradient(top, #121212 0%, #555 50%, #121212 100%); 
    border-radius: 5px;
	text-decoration:underline;
}
#nav div:hover span a{ 
	text-decoration:none;
	-webkit-transition:-webkit-transform 0.075s linear;
}
#nav div:hover span div a:hover{ 
	background:#333;
	background:rgb(107,12,54); 
	z-index: 999;
	text-decoration:underline;
	-moz-transform:scale(1.1);
	-webkit-transform:scale(1.1);
}

.layout {
	height: 25px;
}
*/

