all, body, h1, h2, h3, h4, h5, table, a {
    color: #585858;
    font-family: Verdana, Geneva, Helvetica, Arial, sans-serif;
    font-size: 13px;
    text-decoration: none;
    outline: none;
}

strong, b {
    font-family: Verdana, Geneva, Helvetica, Arial, sans-serif;
}

p, div, td, th {
    color: #585858;
    font-family: Arial, sans-serif;
    font-size: 13px;
    text-decoration: none;
}

li {
    margin-top: 5px;
}

select, textarea, input {
    color: black;
    background-color: lightyellow;
    font-family: Arial, sans-serif;
    font-size: 13px;
    text-decoration: none;
}

select[disabled], textarea[disabled], input[disabled] {
    background-color: #C3C3C3;
}

.chkbx_lsl {
    min-width: 150px;
    text-align: left;
    width: 100%;
}

.chkbx_lsl_head {
    text-align: left;
    border-bottom: 1px solid #999;
    width: 100%;
}

.chbox_head {
    font-weight: bold;
    color: #196BBA;
    position: relative;
    top: -1px;
}

h1 {
    font-size: 16px;
    color: gray;
}

h2 {
    font-size: 15px;
    color: gray;
}

h3 {
    font-size: 14px;
    color: gray;
}

h4 {
    font-size: 13px;
    color: gray;
}

a, .href {
    color: #196bba;
    font-size: inherit;
    font-weight: bold;
    text-decoration: none;
}

.href {
    cursor:pointer;
}

a:hover, a:active {
    color: Red;
    text-decoration: underline;
}

input.enabled {
    min-width: 90px;
    width: 90px;
    margin: 2px;
    color: #009900;
    font-weight: bold;
    font-family: Verdana, Geneva, Helvetica, Arial, sans-serif;
}

input.disabled {
    min-width: 90px;
    width: 90px;
    margin: 2px;
    color: #A0A0A0;
    font-weight: bold;
    font-family: Verdana, Geneva, Helvetica, Arial, sans-serif;
}

.menu0 {
    padding: 4px;
    margin-top: 6px;
    margin-left: 2px;
    margin-bottom: 1px;
    margin-right: 2px;
}

.menu0active {
    padding: 4px;
    margin-top: 6px;
    margin-left: 2px;
    margin-bottom: 1px;
    margin-right: 2px;
    border: 1px solid #000000;
    background-color: #F5F5F5;
    color: Red;
}

.menu1 {
    margin: 2px;
    padding: 2px;
}

.menu1active {
    margin: 2px;
    padding: 2px;
    color: Red;
}

.small_text {
    font-size: 12px;
}

.HiLite {
    color: #009900;
    font-weight: bold;
    font-family: Verdana, Geneva, Helvetica, Arial, sans-serif;
}

.HiLiteBig {
    color: #009900;
    font-size: 14px;
    font-weight: bold;
    font-family: Verdana, Geneva, Helvetica, Arial, sans-serif;
}

.warntext {
    color: #FF0000;
    font-family: Verdana, Geneva, Helvetica, Arial, sans-serif;
}

.HiLiteErr {
    color: #FF0000;
    font-weight: bold;
    font-family: Verdana, Geneva, Helvetica, Arial, sans-serif;
}

div.error {
    font-weight: bold;
    font-family: Verdana, Geneva, Helvetica, Arial, sans-serif;
    border-left: 5px;
    border-left-color: #FF0000;
    border-left-style: solid;
    margin-left: 10px;
    padding-left: 10px;
    padding-top: 15px;
    padding-bottom: 25px;
}

.HiLiteBigErr {
    color: #FF0000;
    font-size: 14px;
    font-weight: bold;
    font-family: Verdana, Geneva, Helvetica, Arial, sans-serif;
}

.HiLiteWarn {
    color: #003366;
    font-weight: bold;
    font-family: Verdana, Geneva, Helvetica, Arial, sans-serif;
}

.HiLiteBigWarn {
    color: #003366;
    font-size: 14px;
    font-weight: bold;
    font-family: Verdana, Geneva, Helvetica, Arial, sans-serif;
}

.help {
    color: #303030;
    background-color: lightyellow;
    padding: 5px;
    margin: 10px;
    border: 1px solid black;
    min-width: 150px;
    font-size: 13px;
}

.warn {
    color: #303030;
    background-color: lightyellow;
    padding: 5px;
    margin: 10px;
    border: 1px solid Red;
    min-width: 150px;
    font-size: 13px;
}

.info {
    color: #3C0050;
    background-color: #F4F4F8;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    border: 1px dotted Red;
}

.legend {
    color: #3C0050;
    background-color: #F4F4F8;
    padding: 0px;
    margin: 0px;
    border: 1px dotted Red;
}

.tty {
    color: #DCDCDC;
    background-color: #333333;
    font-family: monospace;
    font-size: 12px;
    margin: 0px;
    padding: 5px;
}

.listing {
    font-family: monospace;
}

.dump {
    font-family: monospace;
    font-size: x-small;
}

.cmd {
    margin: 1px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 5px;
    padding-right: 5px;
    /*background-color: #FFDCA8;*/
    border: 1px solid black;
    font-weight: bold;
    font-family: monospace;
    white-space: nowrap;
}

.path {
    margin: 1px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bold;
    font-family: monospace;
    white-space: nowrap;
}

#tooltip {
    position: absolute;
    border: 1px solid black;
    padding: 5px;
    background-color: lightyellow;
    visibility: hidden;
    z-index: 100;
    /*Remove below line to remove shadow. Below line should always appear last within this CSS*/
    filter: progid:DXImageTransform.Microsoft.Shadow(color=gray, direction=135);
}

.win {
    position: absolute;
    background-color: #e5e5e5;
    margin: 0;
    padding: 0;
    z-index: 3;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

table.paramstbl {
    margin-top: 7px;
    margin-bottom: 7px;
    width: 100%;
}

th.query {
    font-size: 11px;
}

td.layout {
    color: #FFFFCC;
    font-weight: bold;
    background-color: #666699;
    border: 2px solid #303030;
    padding: 2px;
}

th.layout {
    color: #FFFFCC;
    font-weight: bold;
    background-color: #666699;
    border: 2px solid #FFA858;
    padding: 2px;
}

.param {
    font-weight: bold;
    font-style: italic;
}

.btn-expand {
    margin: 20px;
    width: 40px;
    height: 40px;
    padding: 0;
    background-size: 38px;
    background-position: center;
    border: 1px outset #EEE;
    border-radius: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
}

.pl_controls {
    overflow: hidden;
    width: 80%;
    height: 100%;
}

.pl_controls > * {
    margin: 1%;
    height: 80%;
}

.tool_bar {
    position: absolute;
    top: 1px;
    right: 1px;
    width: 20%;
    height: 100%;
    white-space: nowrap;
}

.tool_bar img {
    height: 90%;
    margin: 1%;
}

.hidden {
    visibility: hidden;
}

.cell_header .camera_name_wrapper {
    padding: 0 1% 0% 1%;
    color: #e5e5e5;
    font-weight: bold;
    width: 80%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    height: 100%;
}

.cell_header {
    position: relative;
    height: 8%;
}

.pl_wrapper {
    position: relative;
}

div.mode_item a img {
    border: 4px solid #BABABA;
    -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);

}

#nav div.layout a {
    /* selectedLayout ?? */
    color: #FAFAFA;
}

a:hover {
    color: red;
    text-decoration: none;
}

.main_links {
    /*color: #FAFAFA;*/
    text-decoration: none;
}

.main_links:hover {
    color: red;
    text-decoration: underline;
}

.main_td_ref {
    width: 33%;
    height: 250px;
}

