#content {
	width: 80%;
	float: right;
	position: absolute;
	right: 0;	
	overflow: hidden;
	height: 100%;
}
#content .window {
	position: absolute;
	width: 100%;
	height: 100%;
	border: 1px solid #ADADAD !important;
	background: url(../img/shadow.gif) repeat-x 0 0;
}
#content #win_top, #content #win_bot,  #content #win_bot_detail, #content #toolbar{
	position: relative;
}

#content #win_top .options {
	clear: both;
}
#content #win_top .options span {
	/*padding: 5px;
	float: left;*/
}
#content #win_top .options label {
	float:left;
}
#content #win_top .options input {
	min-width: 5px;
}
#content #win_top  {
	/*background: url(../img/shadow.gif) repeat-x 0 0;	
	background-position: bottom;*/
	background-color: #333;
	overflow: hidden;
	top:3px;
/*	height: 70px;*/
	width: 100%;
	position: absolute;
	z-index: 10;
}
#more_cam {
	margin: auto;
	display: none;
	font-size: 20px;
	margin-top: -8px;
}
#content #win_top #cameras_selector {
	padding: 8px;
	height: 30px;
}

#content #win_bot, #content #win_bot_detail{
	margin-top: 70px;
	height: 100%;
	background: #000;
	padding-top: 10px;
}

#content #win_bot_detail {
	display:none;
	overflow: auto;
}
#content #toolbar {
	background: #303030;
	height: 50px;
	padding: 10px;
	position: absolute;
	bottom: 0px;
	width: 100%;	
	/*background: url(../img/shadow.gif) repeat-x 0 0;*/
}
#content .detail {
	display:none;
}

#toolbar .controls {
	float:left;
	padding: 10px;
}
#toolbar .prevnext {
	float:right;
	height: 20px;
}

#toolbar input {
	min-width:5px;
}
#sidebar {
	width: 20%;
	float: left;
	position: absolute;
	overflow-y: hidden;
	background-color: #313131;
	color: #444;
	height: 100%;
}
#sidebar .block {
	border: 1px solid #ADADAD !important;
	/*background: url(../img/shadow.gif) repeat-x 0 0;*/
	display: block;
	height: 100%;
	width: 96%;
	float: left;
	font-size: 12px;	
}
#type_event label {
	color: black;
	font-size: 13px;	
}
#sidebar #type_event, #sidebar #favorite, #sidebar #tree, #sidebar #statistics {
	padding: 10px;
}
#sidebar #type_event {
	/*height:50px;*/
	background: #A29DB3;
    border-radius: 4px 4px 4px 4px;
    margin: 10px;	
}
#sidebar #favorite {
	/*background: url(../img/shadow.gif) repeat-x 0 0;*/
}
#sidebar #tree {
	overflow: auto;
}

#sidebar #statistics {
	/*background: url(../img/shadow.gif) repeat-x 0 0;*/
	/*position: absolute;
	bottom: 0;*/
	height: 50px;
	width: 88.5%;
}
#sidebar #statistics .window_label {
	right: 8px;
}
#handler_vertical {
	height: 100%;
	float: right;
	width: 26px;
	cursor: col-resize;
	background: url(../img/handle-v.png) no-repeat;
}

#list_panel { 
	overflow: auto; 
	float: left; 
	height: 98%; 
	width: 97%; 
	position: 
	relative; 
/*	border:1px solid gray; */
	margin-left:10px; 
	margin-bottom:25px; 
	display:inline; 
	overflow: hidden;

}


#scroll_v {width:14px; height:auto; left:-14px; float:right; display:none;}
#scroll_v .scroll_top_v {width:36px; height:42px; background:url(../img/scroll_top.png) no-repeat;}
#scroll_v .scroll_body_v {width:30px; height:200px; background:#eaeaea; /*border-left:1px solid #cccccc; border-right:1px solid #cccccc; */ position:relative;}
#scroll_v .scroll_polz_v {width:38px; margin:auto; height:106px !important; background:url(../img/scrolll.png) no-repeat; position:relative; left:-1px; top:0px;}
#scroll_v .scroll_bot_v {width:36px; height:42px; background:url(../img/scroll_bot.png) no-repeat;}


#scale {width:auto; height:30px; margin-bottom:2px;}
#scale .scale_min {width:30px; height:30px; background:url(../img/zoom_out.png) no-repeat; float:left; vertical-align:top;}
#scale .scale_body {width:320px; height:30px; padding: 0 2px; background:url(../img/scroll_bg.png) repeat-x;  position:relative; float:left; vertical-align:top;}
#scale .scale_polz {width:20px; height:18px;  background:#ffffff; border:2px solid #6d9acc; position:relative; left:0px; top:5px; -moz-border-radius:5px; -webkit-border-radius:5px;}
#scale .scale_max {width:30px; height:30px; background:url(../img/zoom_in.png) no-repeat; float:left; vertical-align:top;}


#scale2 {width:auto; height:30px; margin-bottom:2px;}
#scale2 .scale_min {width:30px; height:30px; background:url(../img/zoom_out.png) no-repeat; display:table-cell; vertical-align:top;}
#scale2 .scale_body {width:320px; height:30px; padding: 0 2px; background:url(../img/scroll_bg.png) repeat-x;  position:relative; display:table-cell; vertical-align:top;}
#scale2 .scale_polz {width:20px; height:18px;  background:#ffffff; border:2px solid #6d9acc; position:relative; left:0px; top:5px; -moz-border-radius:5px; -webkit-border-radius:5px;}
#scale2 .scale_max {width:30px; height:30px; background:url(../img/zoom_in.png) no-repeat; display:table-cell; vertical-align:top;}





#matrix_load {
    background: none repeat scroll 0 0 #FFFFFF;
    display: none;
    height: 100%;
    left: 0;
    opacity: 0.8;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 9999;
}

#matrix_load img {
    display: block;
    height: 32px;
    margin: 100px auto 0;
    width: 32px;
}

#scroll_content { 
	position:absolute;
	top:0;
	left:0;
}
.content_item { 
	background-color:#fcfcfc;
}
#scroll_content .content_item { 
	position: relative; 
	float:left; 
	display:none;
}
#scroll_content .show {
	display: block;
}
#scroll_content .active {
	background-color: #1b1b1d;
	border: #fff 1px solid;
}
div.img_block img {
	border:#4b3ab5 4px solid;
	box-shadow: 3px 3px 5px #000;	
} 
.content_item .img_block { 
	font-size:12px;
	line-height:96px;
	text-align:center;
	color:#003366;
}
.content_item .info_block {
	width: 99%;	
	font-size: 12px;
	text-align: center;
	color:#fff;
}

.camera_1_color {
	background-color:PeachPuff; 
}
.camera_1_color_font {
	color:PeachPuff; 
}
.camera_2_color {
	background-color:	LightSlateGray;
}
.camera_2_color_font {
	color:	LightSlateGray; 
}
.camera_3_color {
	background-color:	lavender; 
}
.camera_3_color_font {
	color:	lavender; 
}
.camera_4_color {
	background-color:	CornflowerBlue; 
}
.camera_4_color_font {
	color:	CornflowerBlue; 
}
.camera_5_color {
	background-color:SlateBlue; 
}
.camera_5_color_font {
	color:SlateBlue; 
}
.camera_6_color {
	background-color:DeepSkyBlue; 
}
.camera_6_color_font {
	color:DeepSkyBlue; 
}
.camera_7_color {
	background-color:LightSkyBlue; 
}
.camera_7_color_font {
	color:LightSkyBlue; 
}
.camera_8_color {
	background-color:	LightSteelBlue; 
}
.camera_8_color_font {
	color:	LightSteelBlue; 
}
.camera_9_color {
	background-color:DarkGreen; 
}
.camera_9_color_font {
	color:DarkGreen; 
}
.camera_10_color {
	background-color:PaleGreen; 
}
.camera_10_color_font {
	color:PaleGreen; 
}
.camera_11_color {
	background-color:LawnGreen; 
}
.camera_11_color_font {
	color:LawnGreen; 
}
.camera_12_color {
	/*background-color:LightYellow; */
}
.camera_12_color_font {
	color:#8f7dff; 
	
}
.camera_13_color {
	background-color:IndianRed; 
}
.camera_13_color_font {
	color:IndianRed; 
}
.camera_14_color {
	background-color:Orange; 
}
.camera_14_color_font {
	color:Orange; 
}
.camera_15_color {
	background-color:HotPink; 
}
.camera_15_color_font {
	color:HotPink; 
}
.camera_16_color {
	background-color:Pink; 
}
.camera_16_color_font {
	color:Pink; 
}





.mod_window {
	z-index: 999;
	position: fixed;
	top: 74px;
	left: 240px;
	background-color: silver;
	border : 2px solid #ADADAD !important;
	display: none;
}
#cameras_color li {
	float:left;
	list-style:none;
	width: 40px;
	height: 40px;
	border: 1px solid #000 !important;
	cursor: pointer;
}
.mod_window div {
	clear:both;
}
.mod_window .window_title {
	background-color : #ADADAD;
}

.mod_window .window_body {
	padding : 5px;
	
}

#cameras_color .window_body {
	width: 176px;
}


.mod_window .window_button {
	padding-top : 10px;
	position: relative;
	bottom: 0;
	
}

.mod_window .window_button  button{
	float: right;
}


#overlay{