#content {
	width: 80%;
	float: right;
	position: absolute;
	right: 0;	
	overflow: hidden;
	height: 100%;
	background-color: black;
	min-width: 666px;
}
#content .window {
	position: absolute;
	width: 100%;
	height: 100%;
	border: 1px solid #676767 !important;
	background: url(../img/shadow.gif) repeat-x 0 0;
}
#content #win_top, #content #win_bot,  #content #win_bot_detail, #content #toolbar{
	position: relative;
}

#content #win_top .options {
	clear: both;
}
#content #win_top .options > span {
	padding: 5px 5px 2px 5px;
	float: left;

}
#content #win_top .options label {
	float:left;
}
#content #win_top .options input {
	min-width: 5px;
}

#content #win_top  {
	/*background: url(../img/shadow.gif) repeat-x 0 0;	
	background-position: bottom;*/
	min-height: 100px;
	background: #333;
	overflow: hidden;
	/*top:3px;
	height: 70px;*/
	width: 100%;
	position: absolute;
	z-index: 10;
	border: 2px solid #676767;
	border-radius: 0 0 0 4px;
	
}
#more_cam {
	display: none;
	font-size: 28px;
	
	bottom: 5px;
    position: absolute;
    right: 10px;
	
}
#content #win_top #cameras_selector {
	padding: 8px;
	height: 100%;
}

#content #win_bot, #content #win_bot_detail{
	margin-top: 104px;
	height: 100%;
	background: #000;
}

#content #win_bot_detail {
	display:none;
	overflow: auto;
}
#content #toolbar {
	background: #303030;
	padding: 10px;
	position: absolute;
	bottom: 0px;
	width: 100%;
	border: 2px solid #676767;	
	border-radius: 4px 0 0;
	/*background: url(../img/shadow.gif) repeat-x 0 0;*/
}
#content .detail {
	display:none;
}

#toolbar .controls {
	float:left;
	margin-right: 10px;
}
#toolbar .prevnext {
	float:right;
	height: 20px;
	margin-right: 20px;
}


#toolbar .controls img{
	margin : 0;
}

#toolbar input {
	min-width:5px;
}
#sidebar {
	width: 20%;
	float: left;
	position: absolute;
	/*overflow-y: hidden;*/
	background-color: #313131;
	color: #444;
	height: 100%;
	overflow:hidden;
	min-width: 300px;
}
#sidebar .block {
	/*background: url(../img/shadow.gif) repeat-x 0 0;*/
	display: block;
	height: 100%;
	width: 96%;
	float: left;
	font-size: 12px;	
}
#type_event label {
	color: black;
	font-size: 13px;	
}
#sidebar #type_event, #sidebar #favorite, #sidebar #tree, #sidebar #statistics {
	padding: 10px;
}
#sidebar #type_event {
	/*height:50px;*/
	background: #A29DB3;
  	border-radius: 10px 10px 10px 10px;
 	margin: 10px;
	min-width: 240px;	
}
#sidebar #favorite {
	/*background: url(../img/shadow.gif) repeat-x 0 0;*/
}
#sidebar #tree {
	overflow: auto;
	margin: 10px;
	background: none repeat scroll 0 0 #A29DB3;
    border-radius: 10px 10px 0 0;
	min-width: 240px;
}

#sidebar #statistics {
	/*background: url(../img/shadow.gif) repeat-x 0 0;*/
	position: absolute;
	bottom: 0;
	width: 88.5%;
	margin: 10px;
	background: none repeat scroll 0 0 #A29DB3;
   	border-radius: 0px 0px 10px 10px;
	min-width: 240px;
	border-bottom: 1px solid #fff;	
}
#sidebar #statistics .window_label {
	right: 8px;
}
#sidebar #statistics span {
	display: inline-block;
	padding-bottom: 4px;
	color: #000 !important;
}
#handler_vertical {
	height: 100%;
	float: right;
	width: 26px;
	cursor: col-resize;
	background: url(../img/handle-v.png) 100% 50% repeat;
}

#list_panel { 
	overflow: auto; 
	float: left; 
	height: 100%; 
	width: 100%; 
	position: 
	relative; 
/*	border:1px solid gray; */
	display:inline; 
	overflow: hidden;

}


#scroll_v {width:36px; height:auto; float:right; display:none;}
#scroll_v .scroll_top_v {width:36px; height:42px; background:url(../img/scroll_top.png) no-repeat;margin-left: -1px;}
#scroll_v .scroll_body_v {width:36px; height:200px; background:#eaeaea; /*border-left:1px solid #cccccc; border-right:1px solid #cccccc; */ background:url(../img/scrollR.png); position:relative;margin-left: -1px;}
#scroll_v .scroll_polz_v {width:38px; margin:auto; min-height:14px; /*height:36px; background:url(../img/scrolll.png) repeat-x;*/ position:relative; left:-1px; top:0px;}
#scroll_v .scroll_bot_v {width:36px; height:42px; background:url(../img/scroll_bot.png) no-repeat;margin-left: -1px;}


#scroll_v .scroll_polz_v_Top {width:38px; margin:auto; height:9px; background:url(../img/topScrolll.png) no-repeat;}
#scroll_v .scroll_polz_v_Middle {width:38px; margin:auto; background:url(../img/middleScrolll.png) repeat-y;height: 100%;}
#scroll_v .scroll_polz_v_Bottom {width:38px; margin:auto; height:11px; background:url(../img/bottomScrolll.png) no-repeat;}


#scale { width:auto; height:30px; margin-bottom:2px;}
#scale .scale_min {width:28px; height:30px; background:url(../img/zoom_out.png) no-repeat; float:left; vertical-align:top;}
#scale .scale_body {width:234px; height:30px; padding: 0 2px; background:url(../img/scroll_bg.png) repeat-x;  position:relative; float:left; vertical-align:top;}
#scale .scale_polz {background:url(../img/slider.png) no-repeat; width:29px; height:28px; position:relative; left:0px; top:1px;  /*background:#ffffff; border:2px solid #fff;*/ /*-moz-border-radius:5px; -webkit-border-radius:5px;*/}
#scale .scale_max {width:30px; height:30px; background:url(../img/zoom_in.png) no-repeat; float:left; vertical-align:top;}


#scale2 { width:auto; height:30px; margin-bottom:2px;}
#scale2 .scale_min {width:28px; height:30px; background:url(../img/zoom_out.png) no-repeat; display:table-cell; vertical-align:top;}
#scale2 .scale_body {width:235px; height:30px; padding: 0 2px; background:url(../img/scroll_bg.png) no-repeat;  position:relative; display:table-cell; vertical-align:top;}
#scale2 .scale_polz {background:url(../img/slider.png) no-repeat; width:29px; height:28px; position:relative; left:0px; top:1px;  /*background:#ffffff; border:2px solid #fff;*/ /*-moz-border-radius:5px; -webkit-border-radius:5px;*/}
#scale2 .scale_max {width:30px; height:30px; background:url(../img/zoom_in.png) no-repeat; display:table-cell; vertical-align:top;}

#toolbar #toolbar_left .controls{
	float: none;
}
#toolbar #scale_image {
	margin-top: 3px;
}

#toolbar #toolbar_right {
	float:right;
}
#toolbar #toolbar_left {
	float:left;
}

	

#matrix_load {
    background: none repeat scroll 0 0 #FFFFFF;
    display: none;
    height: 100%;
    left: 0;
    opacity: 0.8;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 9999;
}

#matrix_load img {
    display: block;
    height: 32px;
    margin: 100px auto 0;
    width: 32px;
}

#scroll_content { 
	position:absolute;
	top:0;
	left:0;
}
.content_item { 
	/*background-color:#fcfcfc;*/
}
#scroll_content .content_item { 
	position: relative; 
	float:left; 
	display:none;
}
#scroll_content .show {
	display: block;
}
#scroll_content .active .elem{
	background-color: #1b1b1d;
	outline: 2px solid #fff;
	margin: -5px;
   	padding: 5px;
}

.content_item .img_block { 
	font-size:12px;
	line-height:96px;
	text-align:center;
	color:#003366;
}
.content_item .info_block {
	width: 99%;	
	font-size: 12px;
	text-align: center;
	color:#fff;
}

.camera_1_color img {
	border: 4px solid #ffdab9;
	/*background-color:PeachPuff;*/
}
.window_body .camera_1_color {
	background-color:#ffdab9;
}
.camera_1_color_font {
	color:#ffdab9; 
}
.camera_2_color img {
	border: 4px solid #778899;	
	/*background-color: LightSlateGray;*/
}
.window_body .camera_2_color {
	background-color: #778899;
}
.camera_2_color_font {
	color:#778899; 
}
.camera_3_color img {
	border: 4px solid #e6e6fa;		
	/*background-color: lavender;*/ 
}
.window_body .camera_3_color {
	background-color: #e6e6fa;
}
.camera_3_color_font {
	color: #e6e6fa; 
}
.camera_4_color img {
	border: 4px solid #347fcc;	
	/*background-color:CornflowerBlue;*/
}
.window_body .camera_4_color {
	background-color: #347fcc;
}
.camera_4_color_font {
	color:	#347fcc; 
}
.camera_5_color img {
	border: 4px solid #8f7dff;		
	/*background-color:SlateBlue; */
}
.window_body .camera_5_color {
	background-color: #8f7dff;
}
.camera_5_color_font {
	color:#8f7dff; 
}
.camera_6_color img {
	border: 4px solid #9dff34;	
	/*background-color:DeepSkyBlue; */
}
.window_body .camera_6_color {
	background-color: #9dff34;
}
.camera_6_color_font {
	color:#9dff34; 
}
.camera_7_color img {
	border: 4px solid #ff3434;
	/*background-color:LightSkyBlue; */
}
.window_body .camera_7_color {
	background-color: #ff3434;
}
.camera_7_color_font {
	color:#ff3434; 
}
.camera_8_color img {
	border: 4px solid #87cefa;
	/*background-color: LightSteelBlue; */
}
.window_body .camera_8_color {
	background-color: #87cefa;
}
.camera_8_color_font {
	color:	#87cefa; 
}
.camera_9_color img {
	border: 4px solid #006400;
	/*background-color:DarkGreen;*/
}
.window_body .camera_9_color {
	background-color: #006400;
}
.camera_9_color_font {
	color:#006400; 
}
.camera_10_color img {
	border: 4px solid #98fb98;
	/*background-color:PaleGreen; */
}
.window_body .camera_10_color {
	background-color: #98fb98;
}
.camera_10_color_font {
	color:#98fb98; 
}
.camera_11_color img {
	border: 4px solid #ffffe0;
	/*background-color:LawnGreen; */
}
.window_body .camera_11_color {
	background-color: #ffffe0;
}
.camera_11_color_font {
	color:#ffffe0; 
}
.camera_12_color img {
	border: 4px solid #b0c4de;
}
.window_body .camera_12_color {
	background-color: #b0c4de;
}
.camera_12_color_font {
	color:#b0c4de; 	
}

.camera_13_color img {
	/*background-color:IndianRed; */
	border: 4px solid #cd5c5c;
}
.window_body .camera_13_color {
	background-color: #cd5c5c;
}
.camera_13_color_font {
	color:#cd5c5c; 
}
.camera_14_color img {
	/*background-color:Orange;*/ 
	border: 4px solid #ffa500;
}
.window_body .camera_14_color {
	background-color: #ffa500;
}
.camera_14_color_font {
	color:#ffa500; 
}
.camera_15_color img  {
	border: 4px solid #ff69b4;
	/*background-color:HotPink; */
}
.window_body .camera_15_color {
	background-color: #ff69b4;
}
.camera_15_color_font {
	color:#ff69b4; 
}
.camera_16_color img {
	border: 4px solid #ffc0cb;
	/*background-color:Pink; */
}
.window_body .camera_16_color {
	background-color: #ffc0cb;
}
.camera_16_color_font {
	color:#ffc0cb; 
}


.mod_window {
	z-index: 999;
	position: fixed;
	top: 74px;
	left: 240px;
	background-color: silver;
	border : 2px solid #ADADAD !important;
	display: none;
}
.mod_window h2 {
	border-bottom: 1px solid #FFFFFF;
    color: #000000;
    font-size: 17px !important;
    font-weight: 100;
    padding: 3px;	
}
#cameras_color li {
	float:left;
	list-style:none;
	width: 40px;
	height: 40px;
	border: 3px solid #4e4e4e;
	cursor: pointer;
	margin: 1px;	
}
#cameras_color {
	border: 1px solid #fff !important;	
	text-align:center;
	background: url(../img/bgPOp.png) repeat; 
}
.mod_window div {
	clear:both;
}
.mod_window .window_title {
	background-color : #ADADAD;
}

.mod_window .window_body {
	padding : 5px;	
}

#cameras_color .window_body {
	width: 197px;
	margin-left: 14px;
}


.mod_window .window_button {
	padding-top : 10px;
	position: relative;
	bottom: 0;
	
}

.mod_window .window_button button{
	float: right;
	margin-right:55px;
	background: url(../img/pushbutton.png) no-repeat; 
	color: #fff;
	//padding:6px 8px 6px 8px;
	border: none;
	margin: 0 66px 4px 0;
	cursor: pointer;
	width:80px;
	height: 30px;
}



	
	/* Andriy change*/
	
.outtaHere {position:absolute; margin-left:-3000px;}

.checkboxArea, .checkboxAreaChecked {width:12px; height:12px; float:left; clear:left; display:block; font-size:0; cursor:pointer;  margin:0; padding:0;}
.checkboxAreaChecked { background:url(../img/checkbox.png) no-repeat left bottom;}
.checkboxArea { background:url(../img/checkboxActive.jpg) no-repeat left top;}
.focused { border:1px dotted #ddd;}




.jstree-default.jstree-focused {
	background: none !important;	
}
div.options > span:hover {
	outline: #fff 1px solid;

	/*border: #fff 1px solid;
	padding: 3px 0;
	box-shadow: 3px 3px 3px #000;*/	
	
}

div.block {
	overflow: hidden;	
}

.jstree-default .jstree-clicked {
	font-size: 15px !important;	
}
.jstree a {
	font-weight: 100;	
}
#tree {	
	position:relative;	
}
.borderBot {
	width:100%;
	height:1px;
	background:#fff;
	margin: 5px 0 5px -10px ;
	padding-right: 20px;
	
}
.jstree-default .jstree-clicked {
	border: none !important;
	background: none !important;
	color: blue;
}
#nextwindow {
	background:url(../img/bgPOp.png) repeat;	
	padding: 5px;
	border: 2px solid #fff !important;
}
#nextwindow h2 {
	width: 350px;
	border: none !important;
	color:#fff;
}
#nextwindow .no, #nextwindow .yes {
	background:url(../img/smallPush.png) no-repeat;
	padding-right: 15px; 
	padding-left: 9px;
	margin-right: 10px !important;
	margin-bottom: 0;
	width:50px;
	height:30px;
}
#nextwindow .yes {
	padding-right: 18px; 
	padding-left: 12px;
	
}

#nextwindow .mod_window {
	background-color: none !important;	
}
#nextwindow .window_title {
	background: none !important;	
}
#nextwindow .window_button {
	float:left;
	clear:none;
	padding: 0;
}
#nextwindow .window_body {
	float: left;
	margin:5px 45px 0 0;	
}
#nextwindow label {
	font-size: 13px;
	color: #fff;
}
.propotion label, .event_info label {
	color: #fff;	
}
div.propotion, div.event_info {
	margin-top: 5px;	
}
.info_block {
	margin-top: 5px;	
}

.niceCheck {
width: 16px;
height: 14px;
display: inline-block;
cursor: pointer;
background: url(../img/checkbox.png) no-repeat;

}
.niceCheck input {
display: none;
}

a, label,h2, button,span,div
{
font-family: Arial,Verdana,Geneva,Helvetica,sans-serif !important;
}

.selectElement {
	outline: 1px solid #fff;

}
#cameras_color .selectColor {
	outline: 3px solid #4E4E4E !important;
	height: 40px !important;
	width: 40px !important;
}
.jstree-default a .jstree-icon {
	background-position: 0 0 !important;
}
.jstree-last a ins.jstree-icon  {
	display:none;
}

#win_top.selectBox {	
	background: #575757 !important;	
}
#sidebar #tree.selectBox {
	background: #cac2e2;
}
#content #win_bot.selectBox #list_panel {
	background: #171717;
}

.camera_5_color, .camera_9_color, .camera_13_color {
	clear:left;	
}
